# Activar motor de reescritura
RewriteEngine On

# Permitir acceso directo a archivos y carpetas existentes
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirigir todo lo demás a index.php
RewriteRule ^ index.php [QSA,L]

# Forzar codificación UTF-8
AddDefaultCharset UTF-8

# Mostrar errores (solo en desarrollo)
php_flag display_errors on
php_value error_reporting 32767

# Priorizar index.php como archivo de inicio
DirectoryIndex index.php index.html
